body {
    background-color: rgb(21, 58, 83);
    color: lightgray;
}

h1 {
    background-color: navy;
    text-align: center;
    color: rgb(159, 159, 241);
    border: solid white 3px;
}

ul{
    margin-left: 40px;
    margin-right: 40px;
}
li {
    list-style-type: square;
}

h2{
    text-align: center;
    text-decoration: underline;
}

p{
    margin-left: 40px;
    margin-right: 40px;
}